.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
}

.column-full {
  width: 100%;
}

.column-half {
  width: 50%;
}

.row-meal-exercise {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row-meal-exercise a {
  font-size: 35px;
  margin: 10px;
}

.row-meal-exercise button {
  border: 0;
  font-size: 35px;
  background-color: white;
}

.blue-text {
  color: blue;
}

.red-text {
  color: red;
}

.days-buttons {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}

header,
footer {
  background-color: #4682b4;
}

header.row {
  padding: 0 20px;
  align-items: center;
  justify-content: space-between;
}

main {
  height: 80.5vh;
  overflow: scroll;
}

ul {
  padding: 0;
}

.footer-display {
  display: flex;
  justify-content: space-around;
}

.calendar,
.calculator,
.add-icon {
  padding: 10px;
  font-size: 80px;
}

.add-new-meal-or-exercise {
  padding: 50px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-in-icon {
  color: darkblue;
  font-size: 50px;
}

.sign-up-sign-in-form {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  margin: 100px auto;
}

.new-meal-exercise-select {
  border-style: solid;
  border-color: #4682b4;
  text-align: center;
  font-size: 20px;
  border-radius: 5px;
  width: 150px;
  margin-bottom: 20px;
}

.create-new-meal-exercise h2 {
  font-size: 40px;
  margin-top: 100px;
  text-align: center;
}

.create-new-meal-exercise-form {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  margin: 100px auto;
}

.sign-up-sign-in {
  text-align: center;
}

.sign-up-sign-in h2 {
  font-size: 60px;
  margin-top: 100px;
}

.sign-up-sign-in-email,
.sign-up-sign-in-password {
  border-style: solid;
  border-color: #4682b4;
  font-size: 20px;
  border-radius: 5px;
  height: 40px;
  width: 610px;
  margin: 0 10px 50px 0;
}

.sign-up-sign-in-first-name,
.sign-up-sign-in-last-name {
  border-style: solid;
  border-color: #4682b4;
  font-size: 20px;
  border-radius: 5px;
  height: 40px;
  width: 300px;
  margin: 0 10px 50px 0;
}

.sign-up-sign-in-cancel-submit {
  display: flex;
  justify-content: space-evenly;
}

.sign-up-sign-in-cancel-submit button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 20px;
  border-radius: 10px;
}

.sign-up-sign-in-cancel-submit a {
  background-color: red;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 20px;
  border-radius: 10px;
}

.meal-exercise-name {
  border-style: solid;
  border-color: #4682b4;
  font-size: 20px;
  border-radius: 5px;
  height: 40px;
  margin-bottom: 20px;
}

.meal-exercise-description {
  border-style: solid;
  border-color: #4682b4;
  font-size: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.meal-exercise-cancel-submit {
  margin: 0 30px;
  display: flex;
  justify-content: space-between;
}

.meal-exercise-cancel-submit-calorie-calc {
  display: flex;
  justify-content: space-evenly;
}

.meal-exercise-cancel-submit button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 20px;
  border-radius: 10px;
}

.meal-exercise-cancel-submit a {
  background-color: red;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 20px;
  border-radius: 10px;
}

.calorie-calculator {
  text-align: center;
  padding: 50px 50px 0 0;
}

.calorie-calculator div {
  margin: 40px 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.calorie-calculator label {
  font-size: 25px;
  margin-right: 20px;
}

.calorie-calculator input,
.calorie-calculator select {
  font-size: 25px;
  border-radius: 10px;
  width: 900px;
  height: 40px;
}

@media only screen and (max-width: 768px) {
  .add-new-meal-or-exercise a {
    width: 650px;
    padding: 100px 0;
    font-size: 50px;
  }

  .footer-display {
    height: 120px;
  }
}

@media only screen and (max-width: 375px) {
  ul.row {
    display: flex;
    flex-direction: column;
  }

  ul div.column-half {
    width: 100%;
  }

  ul .column-half:nth-of-type(1) {
    border-style: solid;
    border-color: white;
    margin-bottom: 50px;
  }

  .days-buttons a {
    font-size: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 25px;
    color: white;
  }

  .calendar,
  .calculator,
  .add-icon {
    padding: 10px;
    font-size: 40px;
  }

  .footer-display {
    height: 80px;
  }

  .calorie-calculator {
    padding: 20px;
  }

  .calorie-calculator label {
    display: none;
  }

  .calorie-calculator input::placeholder {
    font-size: 15px;
  }

  .calorie-calculator .row:nth-of-type(5) select {
    font-size: 15px;
  }

  .add-new-meal-or-exercise a {
    width: 350px;
    padding: 100px 0;
    font-size: 20px;
  }

  .sign-up-sign-in h2 {
    font-size: 30px;
    margin-top: 100px;
  }

  .sign-up-sign-in-email,
  .sign-up-sign-in-password {
    font-size: 20px;
    width: 300px;
  }

  .sign-up-sign-in-cancel-submit a,
  .sign-up-sign-in-cancel-submit button {
    padding: 25px;
    font-size: 15px;
  }
}
