* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: sans-serif;
}

label,
p,
a,
button,
input,
select {
  font-family: "Source Code Pro", monospace;
  font-family: "Varela Round", sans-serif;
}
